        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Site design and development by sr2 solutions
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->