<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MongoDB Admin | Login</title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">

    <script src="/vendors/jquery/dist/jquery.min.js"></script>

<!--    <script src="/js2/mongoSitesApi.js"></script>  -->
    <script src="<%= process.env.MSA_URL %>/mongoSitesApi.js?site=<%= process.env.SITE_NAME %>"></script>

    <script>
    function login() {

      $('#loginBtn').disabled=true;
      $('#loginBtn').html("Logging In...");

      var email = $('#emailTxt').val();
      var password = $('#passwordTxt').val();

      mongoSitesApi.auth(email, password)
            .then(function (data) {

              console.log('data');
              console.log(data);

              window.location.href = "/collection/users";
            })
            .catch(function (error) {

                console.log('c');
                console.log(error);

                $('#loginBtn').disabled=false;
                $('#loginBtn').html("Log In");
                new PNotify({
                    title: 'Login Failed',
                    text: 'Login failed. Please check your username and password.',
                    type: 'error',
                    styling: 'bootstrap3'
                  });
            });
    }
    </script>
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>Login</h1>
              <div>
                <input id="emailTxt" name="emailTxt" type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input id="passwordTxt" name="passwordTxt" type="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <a class="btn btn-default submit" onclick="login()" id="loginBtn">Log in</a>
              </div>

              <div class="clearfix"></div>


            </form>
          </section>
        </div>

      </div>
    </div>
  </body>
</html>
